div{
  border : 1px solid black;
  box-sizing: border-box;
  /* content + padding + border 합으로 width/height 지정 */
}


.item{
  width: 75px;
  height: 75px;
}


.item1{background-color: red;}
.item2{background-color: orangered;}
.item3{background-color: orange;}
.item4{background-color: yellow;}
.item5{background-color: yellowgreen;}
.item6{background-color: green;}
.item7{background-color: lightblue;}
.item8{background-color: blue;}
.item9{background-color: violet;}


.flex-container { /* 부모 요소 */
  height: 800px;

  display: flex;
  /*
  display : flex;
  -> 부모 요소에 주는 속성!!
  item(자식태그)을 감싸는 요소(부모태그)의 
    형식을 flexbox로 변경
  -> 내부요소인 item들이 자동으로 정렬되며, 
  레이아웃을 쉽게 조정할 수 있음

  자동 정렬 -> 가로/세로 정렬을 쉽게 조정 가능
  공간 배분 -> 요소 간 간격을 자동으로 조정
  반응형 레이아웃 -> 화면 크기에 따라 유연하게 조정
  */


  /* ---------------------
  flex_direction (부모 전용 속성)
  -> 메인축의 방향과 시작위치를 지정하는 속성
  */
  
  /* 메인축이 행 방향 (가로방향, 기본값)*/
  /* flex-direction: row; */

  /* 행방향 + 순서 반대 (가운데 지점을 기준으로 뒤집어짐) */
  /* flex-direction: row-reverse; */

  /* 메인축이 열 방향(세로방향) */
  /* flex-direction: column;*/

  /* 열 방향 (세로 방향) + 순서 반대 */
  /* flex-direction: column-reverse; */


  /*  ---------------------
  flex_wrap (부모 전용 속성)
  내부 item들을 포장하는 속성
  item들을 강제로 한줄에 배치되게 할지, 
  한줄을 벗어나 여러줄로 배치할 것 인지 지정
  */

  /* item을 한줄로 배치 (기본값) */
  /*공간이 작아져도 한줄로 배치*/
  /* flex-wrap: nowrap; */

  /* item을 여러줄로 배치*/
  /*flex-wrap: wrap; */ 
  /*공간이 작아지면 다음줄로 밀린다*/

  /* item을 여러줄로 배치 + 순서 반대로 */
  /* flex-wrap: wrap-reverse; */


  /* ---------------------
  justify_content (부모 전용 속성)
  -> "메인축 방향"으로 item의 정렬 방법을 조정함
  */

  /* 메인축 방향으로 앞에서부터 정렬 (기본값) */
  /* justify-content: flex-start; */

  /* 메인축 방향을 뒤에서부터 정렬 
    메인축의 방향은 같다
    flex-direction: row-reverse과 구분
    ㄴ> 축이 반대여서 우측부터 1번으로 정렬*/
  /* justify-content: flex-end;*/

  /* 메인축 방향으로 가운데 정렬 */
  /* justify-content: center; */


  /* ---------------------
  양 끝쪽을 붙인 상태에서 item 들의 간격을 일정하게 정렬
  부모의 크기에 따라서 간격이 늘어나고 줄어든다*/
  /* justify-content: space-between; */

  /* 양 끝쪽은 조금 띄고, item 사이는 일정 간격으로 정렬*/
  /* justify-content: space-around; */

  /*item이 메인축 내에서 모두 동일한 간격을 가짐*/
  /* justify-content: space-evenly; */


  /* ---------------------
  align-items (부모 전용 속성)
  -> item들을 "교차축 방향"으로 
      정렬하는 방법을 지정하는 속성
  */

  /* 교차축 앞에서부터 정렬(기본값) */
  /* align-items: flex-start; */

  /* 교차축 가운데 정렬 */
  /* align-items: center; */

  /* 교차축 끝에서부터 정렬 */
  /* align-items: flex-end; */
}


#con {/* 부모 */
  width: 450px;
  height: 450px;
  
  display: flex;
  /* 메인축 가운데 정렬 */
  justify-content: center;
  /* 교차축 가운데 정렬 */
  align-items: center;
}

#item-center { /* 자식 */
  width: 80px;
  height: 80px;
  background-color: red;
}



/* -----------------
item(자식)에게 주는 flex 속성*/
/*
flex_basis : item의 기본 크기를 결정하는 속성 
부모를 기준으로 자식이 얼마만큼 점유하겠는가?
width와 비슷하지만, flex_grow, flex_shrink에 의해
유동적으로 변경될 수 있음.

flex_basis : auto; (기본값)
-> 요소 본래의 크기만큼을 가짐 (위에서 정의한 기본값인 75 x 75)
flex_basis : 0;
-> 본래 요소의 크기 중 content 만을 남겨두고 차지하는 영역 없음
*/

.basis-20 {
  flex-basis: 20%; 
}
/* 부모의 메인축의 20%
cf) 부모인 flex-container를 위에서 display: flex; 설정해서 쓸수있는것*/

.basis-30 {
  flex-basis: 30%;
}

.basis-50 {
  flex-basis: 50%;
}


/*-------------------
flex-grow
*/
.grow1{
  flex-grow: 3;
}
/* 0 (기본값) : 요소가 추가적인 가용공간을 차지하지 않음
자신의 초기 크기만 유지
설정값은 여백의 비율로 작성하고 적용됨
*/

.grow2 {
  flex-grow: 2;
}

.grow3 {
  flex-grow: 1;
}


/*-----------------------
flex-shrink : 1; (기본값)
컨테이너의 크기가 줄어들면 다른 요소들(자식요소)과 함께 
비율적으로 축소될 수 있음ㅇ르 의미

*/

.shrink1 {
  flex-shrink: 0;
}
/* 0 : 은 줄어들지 않음을 의미
(컨테이너의 공간이 부족해도 본인의 원래 크기 유지)*/

.shrink2 {
  flex-shrink: 1;
}

.shrink3{
  flex-shrink: 2;
}
/* flex-shrink: n;
-> n값 비율대로 줄어든다 */


/* ---------------------
flex :
Flexbox 내에서 아이템의 크기와 비율을 설정하는 속성
*/
.flex-test1 {
  flex: 1;
}
/* flex-grow : 1; - 남은 가용공간을 1비율로 차지
  flex-shrink : 1; - 컨테이너 크기가 부족할때 줄어들면 1비율로 축소
  flex_basis : 0; - 요소의 content만 차지
*/

.flex-test2 {
 flex: 1 0 auto;
}
/*
flex-grow: 1; flex-shrink: 0; flex-basis: auto
-> 가용공간 1비율로 차지,
축소되지 않음(본인 크기 유지).
기본 크기가 auto(본인 요소 원래 크기)
*/



.flex-test3 {
  flex: 1 50%;
}
/*
flex-grow: 1; flex-shrink: 1; flex-basis: 50%;
-> 가용공간을 1비율로 차지,
컨테이너 크기가 줄어들면 1비율로 축소,
기본 점유율이 50%
*/




/* ---------------------
order (자식 요소에 주는 속성)
order : 기본값 0;
양수~ 음수 설정 가능
값이 작은 요소가 먼저 배치되고, 큰 요소가 나중에 배치됨
*/

.order:nth-child(1) {
  order: 3; /* 맨 앞에 있다가 마지막으로 밀림*/
}

.order:nth-child(2) {
  order: 4; 
}

.order:nth-child(3) {
  order: -2; 
}
/* order는 기본값 0 을 기준으로 0보다 작으면 앞쪽으로 크면 뒤쪽으로 정렬 */



/********** 연습문제1 **********/
.container-1 {
  width: 800px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.header-1, .footer-1 {
  flex-basis: 20%;
  background-color: grey;
}

.body-1 {
  flex-basis: 60%;/* 자식 역할로서 쓴것*/

  display: flex; /* 부모 역할로서 쓴것*/
}
/* body-1 은
container-1의 자식요소이면서
body-item 요소들의 부모요소이기도 함.
*/

.body-item:nth-child(1) {
  flex-basis: 30%;
  background-color: skyblue;
}

.body-item:nth-child(2) {
  flex-basis: 50%;
  background-color: tomato;
}

.body-item:nth-child(3) {
  flex-basis: 20%;
  background-color: antiquewhite;
}


/********** 연습문제2 **********/
.container-2 {
  width: 800px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.header-2 {
  flex-basis: 20%;
  background-color: red;
}

.body-2 {
  flex-basis: 80%;
  display: flex;
}

.body2-item:nth-child(1) {
  flex-basis: 30%;
  background-color: yellow;
}

.body2-item:nth-child(2){
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
}

.body2-item-1:nth-of-type(1){
  flex-basis: 80%;
  background-color: chartreuse;
}

.body2-item-1:nth-of-type(2) {
  flex-basis: 20%;
  background-color: blue;
}


/********** 연습문제3 **********/
.container-3 {
  width: 800px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.header-3 {
  flex-basis: 30%;
  background-color: yellow;
}

.body-3 {
  flex-basis: 70%;
  display: flex;
}

.body-3-item:nth-of-type(1){
  flex-basis: 30%;
  background-color: skyblue;
}

.body-3-item:nth-of-type(2){
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
}

.body-3-item-col:nth-of-type(1) {
  flex-basis: 50%;
  display: flex;
}

.body-3-item-col-1:nth-of-type(1) {
  flex-basis: 70%;
  background-color: aqua;
}

.body-3-item-col-1:nth-of-type(2) {
  flex-basis: 30%;
  background-color: red;
}

.body-3-item-col:nth-of-type(2) {
  flex-basis: 50%;
  background-color: rgb(216, 91, 216);
}



/********** 연습문제4 **********/
.container-4 {
  width: 800px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.header-4, .footer-4 {
  flex-basis: 20%;
  background-color: darkgreen;
}

.body-4 {
  flex-basis: 60%;
  display: flex;
}

.body-4-item-1:nth-of-type(1) {
  flex-basis: 30%;
  background-color: yellow;
}

.body-4-item-1:nth-of-type(2) {
  flex-basis: 70%;
  background-color: orange;

  display: flex;
}

.body-4-item-2 {
  width: 100px;
  height: 100px;
  /*flex-basis: 50%;*/
  background-color: red;
  /*justify-content: space-between; */
}


/********** 연습문제5 **********/
.container5 {
  width: 800px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.header5 {
  flex-basis: 30%;
  background-color: yellow;

  display: flex;
}

.header5 > div:nth-of-type(1) {
  flex-basis: 20%;
}

.header5 > div:nth-of-type(2) {
  flex-basis: 40%;
}

.header5 > div:nth-of-type(3) {
  flex-basis: 40%;
}

/* body */
.body5{
  flex-basis: 70%;
  background-color: blue;
  display: flex;
}
/*
body-5-item:nth-of-type(1) {
  flex-basis: 35%;
  background-color: skyblue;
}
*/

/*
크기를 정확한 3등분 할 때
flex-basis: calc( 100%/3 );
*/ 

/*
body-5-item:nth-of-type(2) {
  flex-basis: 10%;
  background-color: coral
}

body-5-item:nth-of-type(3) {
  flex-basis: 45%;
}

body-5-item:nth-of-type(4) {
  flex-basis: 10%;
}
*/




























