#test1 > p:only-child{
  background-color: seagreen;
} /* 자식이 하나여야만 적용 가능(뒤에서 앞으로 해석) */


#test2 > p:only-of-type{
  background-color: red;
} /* p태그가 오직 하나여야 적용 가능(앞에서 뒤로 해석) */

#test3 > p:empty{
  background-color: greenyellow;
  height:30px;
}/* 안쪽에 비어있는 요소는 높이를 줘야 확인 가능하다 */ 

#test4-1, #test4-2, .test4-3 {
  background-color: yellow;
  color: red;
}

/* #test5-1 후손 중 클래스가 c5인 요소를 선택 */
#test5-1 .c5 {
  background-color: aqua;
}

/* #test5-2인 자식 중 클래스가 c5인 li 요소만 선택*/
#test5-2 > li.c5{ /* li와 .c5 사이에 띄어쓰기 하면 안된다!!!*/
  background-color: tomato;
}

.test6.c6 { 
  /*띄어쓰기 없이 삭성해야 한다
    .test6, .c6로 쓰명 둘다 포함하는 클래서 선택하게 된다*/
  background-color: red;
}


